# About Data

This dataset is a slightly modified version of the dataset provided in the StatLib library. In line with the use by Ross Quinlan (1993) in predicting the attribute "mpg", 8 of the original instances were removed because they had unknown values for the "mpg" attribute. The original dataset is available in the file "auto-mpg.data-original". 

"The data concerns city-cycle fuel consumption in miles per gallon, to be predicted in terms of 3 multivalued discrete and 5 continuous attributes." (Quinlan, 1993)

### Data Attributes

1. mpg: continuous 
2. cylinders: multi-valued discrete 
3. displacement: continuous 
4. horsepower: continuous 
5. weight: continuous 
6. acceleration: continuous 
7. model year: multi-valued discrete 
8. origin: multi-valued discrete 
9. car name: string (unique for each instance

MPG (miles per gallon)
cylinders
engine displacement (cu. inches)
horsepower
vehicle weight (lbs.)
time to accelerate from O to 60 mph (sec.)
model year (modulo 100)
origin of car (1. American, 2. European, 3. Japanese)

### Importing Libraries

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 

sns.set()
%matplotlib inline

#### Importing Data file

In [ ]:
#Reading csv format dataset
file = pd.read_csv('auto-mpg.csv', na_values='?')

#### Copying file to data

In [ ]:
data = file.copy()

In [ ]:
data.head()

#### Shape of Data

In [ ]:
data.shape

There are 398 rows and 9 columns in dataset

In [ ]:
data.columns

#### Looking For Null Values

In [ ]:
data.isnull().sum()

There are 6 values in hourse power

Removing null values from hoursepower.

In [ ]:
#Dropping all the rows which have null values
data.dropna(axis=0, inplace=True)

In [ ]:
# Validating dropna 
data.shape

6 rows has been removed from the dataframe

There are 392 cars name with 201 unique values and **Ford Pinto** has maximum occrence i.e. 5

#### Duplicates Values

In [ ]:
data.duplicated().sum()

There is no duplication in the dataframe

#### Data types in data

In [ ]:
data.dtypes

All the columns have correct datatypes

#### Unique values in different Columns

In [ ]:
data.cylinders.unique()

Cylinders have  5 unique values

In [ ]:
data['model year'].unique()

The model of car is between 70 and 82

In [ ]:
data.origin.unique()

Origin of car has 3 values. 1 for USA, 2 for Germany, 3 for Japan

In [ ]:
data.horsepower.unique()

### Feature Eingineering

Adding Manufacturing Country to dataframe

In [ ]:
data['Man_Country'] = data.origin.replace([1,2,3],['USA','Europe','Japan'])

Droping origin column from dataframe

In [ ]:
data.drop('origin', axis=1, inplace=True)

In [ ]:
data.head()

adding Power to weight Ratio to dataframe

In [ ]:
data['PW_ratio']=data['horsepower']/data['weight']

In [ ]:
data.head()

#### Extracting  Company name from car name

In [ ]:
data['Company_Name'] = data['car name'].str.extract('(^.*?)\s')

In [ ]:
data.head()

#### Foramting Company names

In the dataset, there are some companies  that are named differently and also have some spelling mistakes, lets correct these. also if there is any NAN we can  fill them by  fillna.

In [ ]:
data['Company_Name'] = data['Company_Name'].replace(['volkswagen','vokswagen','vw'],'VW')
data['Company_Name'] = data['Company_Name'].replace('maxda','mazda')
data['Company_Name'] = data['Company_Name'].replace('toyouta','toyota')
data['Company_Name'] = data['Company_Name'].replace('mercedes','mercedes-benz')
data['Company_Name'] = data['Company_Name'].replace('nissan','datsun')
data['Company_Name'] = data['Company_Name'].replace('capri','ford')
data['Company_Name'] = data['Company_Name'].replace(['chevroelt','chevy'],'chevrolet')
data['Company_Name'].fillna(value = 'subaru',inplace=True)

#### creating horsepower bins

In [ ]:
def creatingbins(x):
    if(x <=100):
        return 'Low'
    elif(x > 100 and x <= 165):
        return'Mid'
    elif(x > 165 ):
        return 'High'

In [ ]:
data['hp_binned'] = data['horsepower'].apply(creatingbins)

In [ ]:
data['hp_binned'].value_counts()

In [ ]:
data.head()

#### Calculating Engine CC

In [ ]:
data['DispCC']=data['displacement']* 16.3871

In [ ]:
data.head()

In [ ]:
data['DispCC'].value_counts()

#### Calculating Engine displacement in liters

In [ ]:
data['DispLitr']= data['DispCC']/1000

In [ ]:
data.head()

#### Shape of data

In [ ]:
data.shape

#### Descriptive Statistics

In [ ]:
#Sataistics of numeric values
data.describe()

In [ ]:
#Sataistics of Object type variables

data.describe(include='O')

In [ ]:
#Sataistics of all data
data.describe(include='all')

### Visualization

In [ ]:
sns.distplot(data['mpg']);
plt.title('MPG Distribution in Data')
plt.show()

In [ ]:
data.head()

In [ ]:
sns.countplot(x= 'hp_binned', data=data);
plt.title('Horse Power Distribution')
plt.show()

In [ ]:
sns.distplot(data['acceleration'], hist=True, kde=False, color='red')
plt.title('Acceleration Distribution in Data')
plt.show()

In [ ]:
plt.figure(figsize=(12,4))
sns.boxplot(x='cylinders',y='displacement', data=data)
plt.show()

In [ ]:
data['displacement'].value_counts().plot(kind='hist');
plt.xlabel('Displacement in Cu Inches')
plt.title('Displacement Distribution')
plt.show()

In [ ]:
data['DispCC'].value_counts().plot(kind='hist', color='Green')
plt.xlabel('Displacement CC')
plt.title('Displacement in CC Distribution')
plt.show()

In [ ]:
plt.figure(figsize=(10,5))
data['acceleration'].value_counts().head(20).plot(kind='hist', title='Acceleraion of top 20 Cars');

In [ ]:
plt.figure(figsize=(14,5))
sns.scatterplot(x='DispLitr', y='mpg',hue='Man_Country', data=data)
plt.title('Mpg against Displacement in Litres wrt Countries')
plt.show()

In [ ]:
sns.boxplot(x='cylinders',y='mpg',data=data);
plt.title('Relation between Cylinders and MPG')
plt.show()

In [ ]:
plt.figure(figsize=(12,4))
data['Company_Name'].value_counts().plot(kind='bar')
plt.title('Cars made by different companies')
plt.show()

In [ ]:
plt.figure(figsize=(12,4))
sns.boxplot(x='Company_Name', y='mpg',data=data)
plt.title('Companies compaison wrt MPG')
plt.xticks(rotation=45)
plt.show()

The figure isllustrates that **number of cylinder** greater and less than **4** has less number of mileage.

In [ ]:
sns.boxplot(x='model year',y='mpg',data=data);
plt.title('Relation between Model Year and MPG')
plt.show()

Newer model car can cover more miles in gallon than the older model

In [ ]:
sns.scatterplot(x='PW_ratio', y='mpg',hue='Man_Country', data=data)
plt.title('Power to Weight ratio comparison with miles per Gallon')
plt.show()

In [ ]:
sns.scatterplot(x='horsepower', y='mpg',hue='Man_Country', data=data);
plt.title('Relation between Cylinders, Horsepower and MPG')
plt.show()

- greater the horsepower less will be miles per gallon
- Japanese made cars has more miles gallon as compared to other two

In [ ]:
data_plt = pd.concat([data['mpg'], data['Company_Name']], axis=1)
plt.figure(figsize=(12,6))
sns.boxplot(x='Company_Name', y="mpg", data=data_plt)
plt.xticks(rotation=60)
plt.title('Different mileage by different Companaies')
plt.show()

In [ ]:
sns.scatterplot(x='acceleration', y='mpg', data=data);
plt.title('Relation between Acceleration and MPG')
plt.show()

Accerlation is almost indepent of miles per gallon

In [ ]:
sns.scatterplot(x='displacement', y='mpg',size='weight', hue='weight', data=data)
plt.title('Relation between Acceleration, Weight and MPG')
plt.show()

Greater the displacement less will be miles per gallon. Displacement is usually measured in terms of **cc**.
Similarly **weight** also has a **negative** relation with miles per gallon

##### Comparison between cars from different countries

In [ ]:
df_comp = data[data['cylinders']==4]
df_comp.head()

In [ ]:
df_comp['Man_Country'].value_counts()

Values count of all the countries having same number of cylinders.

In [ ]:

temp = df_comp.groupby('Man_Country')[['displacement','mpg','horsepower','weight']].mean().reset_index()

In [ ]:
temp.head()

the values in above table shows that japanese car are bitter than other two in all aspects.

In [ ]:
sns.pairplot(data, height = 2.0,hue ='Man_Country')
plt.title('Comparison between car by manufacturing Countries')
plt.show()

In [ ]:
cor = data.corr()
plt.figure(figsize=(12,6))
sns.heatmap(cor, annot=True)
plt.title('Correlation in Auto-MPG Data')
plt.show()

In [ ]:
data.to_csv('Cars_Analyzed_Data.csv', index=False)
export_graphviz(clf_dt, out_file=dot_data, filled=True, rounded=True, special_characters=True, feature_names=list(X.columns))